.individual_container {
    margin-top: 120px;
    text-transform: capitalize;
}

.individual_content {
    border-bottom: 1px solid var(--decoraciones);
    border-top: 1px solid var(--decoraciones);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    background-color: black;
    flex-wrap: wrap;
    flex-direction: row !important;
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 0px 50px 28px rgba(175, 134, 0, 0.27);
    box-shadow: 0px 0px 50px 28px rgba(175, 134, 0, 0.27);
    color: white;
    height: 100%;
    min-height: 325px;
}

.individual_information {
    text-align: center;
    color: var(--decoraciones);
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.individual_information:hover {
    transform: scale(1.1);
    color: var(--decoraciones);
    font-weight: bold;
}

.individual_items img {
    width: 20px;
    margin-left: 5px;
}

.individual_content_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 20px;
}

.individual_fav_icon {
    transition: 0.3s;
}

.individual_fav_icon:hover {
    transform: scale(1.2);
}

.individual_content_right Button{
    border: 1px solid var(--decoraciones);
    background-color: black;
    color: white;
    width: 150px;
    transition: 0.4s;
    padding: 10px;
    margin-top: 20px;
}

.individual_content_right Button:hover{
    border: 1px solid var(--decoraciones);
    box-shadow: 0px 0px 10px var(--decoraciones);
}

.individual_content_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indivudual_img {
    padding: 10px;
}

.indivudual_img img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border: 2px solid var(--decoraciones);
    border-radius: 3px;
}

.individual_galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individual_galery img {
    height: 140px;
    padding: 5px;
    object-fit: cover;
    transition: 0.5s;
    margin: 10px 10px 10px 10px;
}

.individual_galery img:hover {
    transform: scale(1.5);
}

.filter_spinner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px 0px 0px 120px !important;
}

.filter_spinner {
    width: 100px;
    height: 100px;
}

.filter_spinner_text {
    text-align: center;
    font-size: 1.7em;
    margin-top: 20px;
    color: white;
}

@media (max-width: 540px) {
    .individual_galery {
        justify-content: center;
    }
}

@media (max-width: 540px) {
    .individual_galery img {
        width: 150px;
        height: 100px;
        max-width: 100%;
    }
}

@media (max-width: 540px) {
    .indivudual_img img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        padding: 5px;
    }
}

@media screen and (max-width: 1415px) {
    .filter_spinner_container {
        margin-top: 125px !important;
        margin-right: 150px !important;
    }
}

@media screen and (max-width: 990px) {
    .filter_spinner_container {
        margin: 50px 0px 0px 0px !important;
    }
}
