.About-container {
    width: 100%;
    scroll-margin: 350px;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-premium/patron-fondo-abstracto-textura-marmol-negro-diseno_158502-344.jpg");
    width: 80%;
    padding: 80px;
    border-radius: 15px;
    border: 2px solid var(--decoraciones);
    box-shadow: 0px 0px 10px var(--decoraciones);
    height: 400px;
}

.About-title {
    font-size: 3.3rem;
    margin-bottom: 20px;
    color: var(--decoraciones);
    text-shadow: 1px 1px 2px var(--decoraciones), 0 0 1em var(--decoraciones), 0 0 0.2em var(--decoraciones);
}

.About-description {
    font-size: 1.6rem;
    color: white;
    text-shadow: white 1px 0 10px;
}
