.Contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    scroll-margin: 350px;
}

.Contact-element{
    background-image: url("https://img.freepik.com/fotos-premium/patron-fondo-abstracto-textura-marmol-negro-diseno_158502-344.jpg");
    width: 450px;
    height: 450px;
    border: 2px solid var(--decoraciones);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Contact-img {
    border-radius: 15px;
    border: 2px solid var(--decoraciones);
    height: 350px;
    width: 350px;
    transition: 0.2s;
}

.Contact-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px var(--decoraciones);
}

@media screen and (max-width: 600px) {
    .Contact-container {
        padding: 10px;
    }
}


@media screen and (max-width: 600px) {
    .Contact-element {
        width: 100%;
    }
}
