.Nav-container {
    background-image: url('../img/Background.webp');
    border-bottom: 2px solid var(--decoraciones);
}

.Nav-logo {
    width: 100px;
}

.Nav-item {
    color: white !important;
    font-weight: bold !important;
    font-size: 1.6rem !important;
    transition: 0.2s !important;
    text-shadow: white 1px 0 10px;
}

.Nav-item:hover {
    color: var(--decoraciones) !important; 
    transform: translateY(-5px);
}
